$colors: (
  black-0: #000,
  bg-main: #ffffff,
  bg-dark: #0F1E54,
  bg-light: #263569,
  dark: #2c2727,
  devil: #494747,
  gray: #bdbdbd,
  gray-before: #e0e0e0,
  gray-semi: #eff3f4,
  gray-light: #fefefe,
  gray-blue: #f5f8ff,
  white: #fff,
  error: #ec5252,
  error-light: #fcf7f7,
  warning: #ffdb80,
  warning-light: #fdf8f2,
  warning-dark: #e5a400,
  primary: #C6D9EE,
  primary-semi-light: #7aade5,
  primary-light: #eef6ff,
  primary-dark: #6cbdf8,
  lime: #7ed656,
  blue: #008ecf,
  success: #18a460,
  success-dark: #0a7d45,
  success-light: #a6f0cc,
  success-light2: #f6faf8,
  canceled: #ccc,
  reserved: #fddec4,
  check_out: #fee0e0,
  check_in: #a4f481,
  reserved-t: #eca568,
  check_out-t: #eb7777,
  free-t: #4ae6fe,
  not_available-t: #9f9d9d,
  check_in-t: #559f35,
  canceled-t: #9f9d9d,
  other: #008ecf,
  communal: #e5a400,
  rent: #18a460,
  reserved-d: #ffa536,
  check_out-d: #f65b5b,
  free-d: #5abffd,
  not_available-d: #9f9d9d,
  check_in-d: #0b884c,
  overlay: #3e3e3e,
);

@function color($color) {
  @return map-get($colors, $color);
}
